<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About | Luxe Glow</title>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>

<body>

<a href="/menu" class="back-btn">← Back</a>

<div class="container">

    <h1>Luxe Glow</h1>

    <p class="motto">Where artificial intelligence meets excellence</p>

    <div class="card">

        <h2>About the Application</h2>

        <p>
            Luxe Glow is an AI-powered skincare analysis system designed
            to understand and evaluate skin conditions through advanced
            computer vision and machine learning techniques.
        </p>

        <p>
            By analyzing a facial image, the system can identify characteristics
            such as acne, pigmentation, redness, skin age and skin type.
            The goal is to provide intelligent insights that help individuals
            better understand their skin health.
        </p>
        <p>Users can also get outfit recommendation based on their skin tone. The skin 
            tone is calculated through MONK SKIN TONE SCALE (MST) which divides the skin tones into 
        10 categories. </p>
        <p>
            This project demonstrates how artificial intelligence can be
            integrated with skincare technology to build smart and
            personalized beauty solutions.
        </p>
        <p>Currently this is an MVP(Minimum Viable Product).</p>

    </div>

    <!-- Creator Highlight Section -->

    <div class="creator-card">

        <h2>Creator</h2>

        <div class="creator-info">

            <h3>Krish Prakash</h3>

            <p>
                Krish Prakash is an undergraduate student specializing in
                Artificial Intelligence and Machine Learning with a strong
                interest in building intelligent systems that solve real-world
                problems.
            </p>

            <p>
                Through Luxe Glow, he explores the intersection of
                computer vision, machine learning and healthcare technology
                to create tools that provide meaningful insights about
                human skin health.
            </p>
            
            <p>Thanks for using this app!!!</p>

        </div>

    </div>

</div>

</body>
</html>