<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luxe Skin Care</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>

<div class="overlay">

    <div class="content">

        <h1>Luxe Glow</h1>

        <p>
            Experience AI-powered skin analysis designed with elegance and precision.
            Discover insights about your skin health and improve your skin.
        </p>

        <a href="/menu">
            <button class="continue-btn">Let's Continue</button>
        </a>

    </div>

</div>

</body>
</html>