<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main Menu | Luxe Glow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
</head>


<body>

    <div class="overlay">
    
        <a href="/" class="back-btn">← Back</a>
    
        <div class="menu-container">
    
            <h1>Luxe Glow</h1>
            <p class="subtitle">AI Powered Personal Beauty Assistant</p>
    
            <div class="menu-options">
    
                <a href="/face-analysis" class="menu-card">
                    <h2>Face Analysis</h2>
                    <p>Analyze skin type, acne, pigmentation and more using AI.</p>
                </a>
    
                <a href="/outfit" class="menu-card">
                    <h2>Outfit Recommendation</h2>
                    <p>Get intelligent outfit suggestions based on your skin tone.</p>
                </a>
    
                <a href="/about" class="menu-card">
                    <h2>About Us</h2>
                    <p>Know about us!</p>
                </a>
    
            </div>
    
        </div>
    
    </div>
    
    </body>